stages:
  - build

build:
  stage: build
  artifacts:
    paths:
      - /dist/*
  script:
    - echo "CI_PIPELINE_ID $CI_PIPELINE_ID"
    - yarn cache clean
    - yarn
    - ./node_modules/.bin/ng build
  only: 
    - develop
    - master
    - main